<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comunicados</title>
    <link rel="stylesheet" href="./comunicados.component.scss">
</head>
<body>
<div class="comunicados-container">
    <div class="filtros">
        <select class="filtro-carrera" [(ngModel)]="selectedCarrera" (change)="filtrarComunicados()">
            <option value="" disabled selected>Filtro de carreras</option>
            <option *ngFor="let carrera of carreras" [value]="carrera">{{ carrera }}</option>
        </select>
        <select class="filtro-paralelo" [(ngModel)]="selectedParalelo" (change)="filtrarComunicados()">
            <option value="" disabled selected>Filtro paralelo</option>
            <option *ngFor="let paralelo of paralelos" [value]="paralelo">{{ paralelo }}</option>
        </select>
    </div>
    <mat-list *ngIf="comunicadosFiltrados.length > 0" class="lista-comunicados">
        <mat-list-item *ngFor="let comunicado of comunicadosFiltrados; let i = index">
            <div class="comunicado">
                <span>{{ comunicado.titulo }} - {{ comunicado.carrera }} - {{ comunicado.paralelo }}</span>
                <div class="action-buttons">
                    <button mat-button class="btn-editar" (click)="editarComunicado(comunicado)">Editar</button>
                    <button mat-button class="btn-eliminar" (click)="eliminarComunicado(i)">X</button>
                </div>
            </div>
        </mat-list-item>
    </mat-list>
    <button *ngIf="userType === 'docente'" mat-raised-button color="primary" routerLink="/home">Atrás</button>
</div>
</body>
</html>
