.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  width: 100vw; 
  background-color: #383838; 
  overflow: hidden;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #424242; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 25%; 
  box-sizing: border-box;
}

.form-group {
  width: 100%;
  margin-bottom: 15px; 
}

label {
  color: white;
  display: block;
  margin-bottom: 5px; 
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #555; 
  background-color: #333;
  color: white; 
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px 0; 
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3; 
  }
}
