html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh; // Asegura que el cuerpo ocupe toda la altura de la ventana
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b1b1b; // Haciendo el fondo aún más oscuro para un mayor contraste
    overflow: hidden;
  }
