.background-container {
    max-width: 99%;  /* Asegura que el contenedor no sea más ancho que la pantalla */
    max-height: 98vh; /* Asegura que el contenedor no sea más alto que la pantalla */
    overflow: hidden; /* Oculta cualquier desbordamiento */
  }
  